.hr-list{
  .symb{
    padding-right: 0.25em;
  }
  li:hover{
      cursor: pointer;
      list-style-type: armenian;
      .li-text{
        text-decoration: underline;
      }
      .symb{
        visibility: visible;
      }
  }
}