.intro{
    $grey-background: #F2F2F2;

    background: $grey-background;
  
    h1{
        padding: 5em 0em 0em;
        font-size: 3em;
        font-weight: 700;
    }

    h1 span{
        display: block;
        letter-spacing: 1px;
    }

    h4{
        padding: 2em 2em;
        color: #A1A1A1;
    }

    canvas {
        position: absolute;
        top: 100px;
        right: 200px;
    }

}

.about{
    
}