.intro{
    $grey-background: #F2F2F2;


    background: $grey-background;
  
    h1{
        padding: 5em 5em 1em 5rem;
        font-size: 2.5em;
        font-weight: 700;
    }

    h1 span{
        display: block;
        letter-spacing: 1px;
    }

    h4{
        padding: 0 5em 15em 5rem;
        color: #A1A1A1;
    }

}

.about{
    
}