/* You can add global styles to this file, and also import other style files */
body{
    height: calc(100vh - 50px);
    margin: 0px;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
p{
    padding: 1em 0;
}
.hr-list{
    li{
        display: inline-block;
        padding-left: 1em;
    }
}
ul{
    padding:0;
    list-style-type: none;
}
li{
    padding: 0;
    margin: 0;
}

.v-hide{
    visibility: hidden;
}

.content{
    width: 1024px;
    margin: 0 auto;
}

@media all and (max-width: 1024px) {
    .content{
        width: auto;
    }
    
}